@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LW Construções :: @ViewData["Title"]</title>
    <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<body class="bg-theme @(user.Theme != null ? @user.Theme : "bg-theme2")">
    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <div style="margin-left:30px;">
                    <a asp-action="Index" asp-controller="Home">
                        <h5 class="logo-text">LW Construções</h5>
                    </a>
                </div>
                <ul class="navbar-nav mr-auto align-items-center"></ul>
                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waveseffect" data-toggle="dropdown"
                            href="javascript:void();">
                            <i class="fa fa-bell-o"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile">
                                @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                                {
                                    <img class="img-circle"
                                    src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))"
                                    alt="Avatar do usuário">
                                }
                                else
                                {
                                    <img src="https://via.placeholder.com/110x110" class="img-circle"
                                    alt="Avatar do usuário">
                                }
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a asp-controller="Admin" asp-action="Index">
                                    <div class="media">
                                        <div class="avatar">
                                            @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                                            {
                                                <img class="align-self-start mr-3"
                                                src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))"
                                                alt="Avatar do usuário">
                                            }
                                            else
                                            {
                                                <img class="align-self-start mr-3" src="https://via.placeholder.com/110x110"
                                                alt="Avatar do usuário">
                                            }
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">@user.UserName</h6>
                                            <p class="user-subtitle">@user.NomeCompleto</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item">
                                <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                    <i class="icon-wallet mr-2"></i> Perfil
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-settings mr-2"></i> Configurações</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item">
                                <form id="formLogout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <a href="javascript:{}"
                                        onclick="document.getElementById('formLogout').submit(); return false;">
                                        <i class="icon-power mr-2"></i> Sair</a>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->
        <div class="content-wrapper" style="margin-left:0px!important;padding-bottom:30px!important;">
            <div class="container-fluid">
                @RenderBody()
                <!--End Dashboard Content-->
                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->
            </div>
            <!-- End container-fluid-->
        </div>
        <!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-doubleup"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer" style="left:0px!important;position:fixed!important;">
            <div class="container">
                <div class="text-center">
                    Copyright © @DateTime.Now.Year LW Construções
                </div>
            </div>
        </footer>
        <!--End footer-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc spinClass"></i>
            </div>
            <div class="right-sidebar-content">
                <p class="mb-0">Gaussion Texture</p>
                <hr>
                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>
                <p class="mb-0">Gradient Background</p>
                <hr>
                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>
            </div>
        </div>
        <!--end color switcher-->
    </div>
    <!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- simplebar js -->
    <script src="~/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    <script src="~/assets/js/jquery.loading-indicator.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>
    <!-- Chart js -->
    <script src="~/assets/plugins/Chart.js/Chart.min.js"></script>
    <!-- Index js -->
    <script src="~/assets/js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>